            .thumbnail{
                width: 100%;
                border-radius: 8px;
            }
            .pfp-1,
            .pfp-2{
                width: 36px;
                border-radius: 50px;
            }
            .vid-title{
                margin-top: 0px;
                margin-bottom: 10px;
                font-size: 14px;
                font-weight:500 ;
                line-height: 20px;
            }
            .thumbnail-row{
                margin-bottom: 8px;
                position: relative;
            }
            .vid-author,
            .vid-stats{
                font-size: 12px;
                color: rgb(96,96,96);
            }
            .vid-author{
                margin-bottom: 4px;
            }
            .vid-info-grid{
                display: grid;
                grid-template-columns: 50px 1fr;
            }
            .vid-grid{
                display: grid;
                grid-template-columns: 1fr 1fr 1fr;
                column-gap: 16px;
                row-gap: 40px;
            }
            @media(max-width:750px){  /*media query ie responsive design */
                .vid-grid{
                    grid-template-columns: 1fr 1fr;
                }
            }
            /*@media(min-width:1000px){  media query ie responsive design
                .vid-grid{
                    grid-template-columns: 1fr 1fr 1fr 1fr;
                }
            }*/
            .vid-time{
                background-color: rgba(0,0,0,0.6);
                color: white;
                position: absolute;
                right: 8px;
                bottom: 10px;
                font-size: 12px;
                /* padding-left: 4px;
                padding-right: 4px;
                padding-bottom:4px ;
                padding-top: 4px; */
                padding: 4px;
                border-radius: 3px;
            }
